/*--------------------GENERAL--------------*/
*{
    margin: 0;
    padding: 0;
    font-family: ;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(pexels-pixabay-206796.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
/*-------------------------------NAV---------------------------------*/
.nav-bar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    cursor:pointer;
    color: aqua;
    font-size: 34px;
    margin-top: 20px;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration:none;
    color: aqua;
    font-size: 13px ;
}

nav ul li::after{
    content: '';
    width: 0;
    height: 2.5px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: .5s;
}
nav ul li:hover::after{
    width: 100%;
}
/*-----------------BANNER-----------------------------------*/
.banner{
    display: flex;
    height: 88%;
    align-items: center;
}
.banner-title{
    flex-basis:40%;
}
h1{
    color:aqua;
    font-size: 70px;
    line-height: 15px;
    margin-bottom: 37px;
}
p{
    color:#fff;
    font-size : 15px;
    
}
button{
    width: 180px;
    color:#000;
    font-size: 12px;
    padding:12px 0;
    background:#fff;
    border:0;
    border-radius: 20px;
    margin-top:20px;
}
button:hover{
    color:#000;
    transition: .7s;
    background: aqua;
}
/*--------------------CARDS-------------------*/
.card{
    width: 240px;
    height: 200px;
    display:inline-block;
    border-radius:10px;
    padding:15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    float:right;
    transition: .5s;
}
.card1{
    background-image: url(pexels-james-wheeler-417074.jpg);
}
.card2{
    background-image: url(underwater-3237936_640.jpg);
}
.card3{
    background-image: url(pexels-jose-vega-3801030.jpg);
}
.card4{
    background-image: url(1.jpeg);
}
.card:hover{
    transform: translateY(-10px);
}
h3{
    color:#fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 10px;
}
